<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorFMS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="administrar">
                <span class="oi oi-plus" aria-hidden="true"></span> Administrar Sucursales
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="colaboradores">
                <span class="oi oi-person" aria-hidden="true"></span> Colaboradores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sucursales">
                <span class="oi oi-home" aria-hidden="true"></span> Sucursal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transportista">
                <span class="oi oi-plus" aria-hidden="true"></span> Transportista
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="viaje">
                <span class="oi oi-plus" aria-hidden="true"></span> Viaje
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
